<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>All around is mathematics</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="Public/img/favicon.png" rel="icon">
  <link href="Public/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="Public/vendor/aos/aos.css" rel="stylesheet">
  <link href="Public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="Public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="Public/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="Public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: eStartup
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <style>
    /**
* Template Name: eStartup
* Updated: Sep 18 2023 with Bootstrap v5.3.2
* Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background-color: #fff;
  color: #333;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  color: #000;
  font-weight: 600;
}

h4 {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 2;
}

h5 {
  color: #626262;
  font-size: 14px;
  font-weight: 500;
}

a {
  letter-spacing: 2px;
  text-decoration: none;
  color: #71c55d;
}

a:hover {
  color: #92d283;
}

ul {
  letter-spacing: 1px;
}

li {
  color: #626262;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
  text-transform: capitalize;
}

p {
  color: #505050;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 2;
  margin-bottom: 20px;
}

span {
  letter-spacing: 1px;
}

.container-full {
  padding-left: 0;
  padding-right: 0;
}

.fa {
  text-decoration: none;
  font-size: 13px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  z-index: 997;
  transition: all 0.5s ease;
  padding: 20px 0;
}

#header #logo h1 {
  color: #505050;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
}

#header #logo h1 a {
  color: #555;
  display: inline-block;
  text-decoration: none;
}

#header #logo h1 a span {
  color: #71c55d;
}

#header.header-scrolled {
  background: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: calc(100vh - 40px);
  background: url(../img/hero-bg.png) center bottom no-repeat;
  background-size: 100%;
  position: relative;
  margin-top: 0px;
}

@media (min-width: 1025px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (min-width: 1025px) and (max-height: 768px) {
  #hero {
    height: 110vh;
  }
}

@media (max-height: 600px) {
  #hero {
    height: 200vh;
  }
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  font-family: "Philosopher", sans-serif;
  color: #71c55d;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #777;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#hero img {
  max-width: 95%;
  margin-bottom: 30px;
}

#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 11px 36px;
  border-radius: 50px;
  transition: 0.5s;
  margin-bottom: 30px;
  border: 2px solid #71c55d;
  background: #fff;
  color: #71c55d;
  text-decoration: none;
}

#hero .btn-get-started:hover {
  background: #71c55d;
  color: #fff;
}

#hero .btns a {
  color: #555;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 4px 20px;
  text-decoration: none;
  transition: 0.3s;
}

@media (max-width: 575px) {
  #hero .btns a {
    margin: 4px 8px;
  }
}

#hero .btns a:hover {
  color: #71c55d;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  overflow: hidden;
}

.padd-section {
  padding-bottom: 80px;
  padding-top: 80px;
}

@media (max-width: 992px) {
  .padd-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-title {
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .section-title {
    margin-bottom: 40px;
  }
}

.section-title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.section-title .separator {
  margin: 0;
}

.separator {
  color: #626262;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: capitalize;
}


/* Get Started Section
--------------------------------*/
#get-started {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#get-started .feature-block {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  transition: all 0.5s ease-in-out 0s;
}

#get-started .feature-block img {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
}

@media (max-width: 991px) {
  #get-started .feature-block {
    margin-bottom: 30px;
  }
}

#get-started .feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

#get-started .feature-block h4 {
  margin-bottom: 20px;
}

#get-started .feature-block p {
  margin-bottom: 20px;
}

#get-started .feature-block a {
  color: #505050;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
}

#get-started .feature-block a:hover {
  color: #71c55d;
}

/* About Us Section
--------------------------------*/
#about-us img {
  max-width: 100%;
}

#about-us .about-content {
  padding-top: 60px;
}

#about-us .about-content h2 {
  color: #252525;
  font-family: "roboto";
  font-size: 39px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

#about-us .about-content span {
  font-weight: 700;
  padding-right: 10px;
  text-transform: uppercase;
}

#about-us .about-content ul li {
  line-height: 36px;
}

#about-us .about-content ul li .fa {
  padding-right: 20px;
}

/* Features Section
--------------------------------*/
#features {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#features .feature-block {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out 0s;
}

#features .feature-block img {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
}

#features .feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

#features .feature-block h4 {
  margin-bottom: 20px;
}

#features .feature-block p {
  margin-bottom: 0;
}
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div id="logo">
        <h1><a href="index.html"><span>All</span> around is mathematics.</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="Public/img/logo.png" alt="" title="" /></a>-->
      </div>
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-in">
      <h1>Welcome All around is mathematics</h1>
      <h2>RATTIKAL LERDPAN</h2>
      <img src="https://cdn.icon-icons.com/icons2/3492/PNG/96/astronomy_space_rocket_launch_icon_220423.png" width="200px" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
      <a href="/insert" class="btn-get-started scrollto">Get Started</a>
      <div class="btns">
        <a href="#"><i class="fa fa-apple fa-3x"></i> Homepage</a>
        <a href="/insert"><i class="fa fa-play fa-3x"></i> Get Start</a>
        <a href="/update"><i class="fa fa-windows fa-3x"></i> Feed Math</a>
      </div></div>
  </section><!-- End Hero Section -->
  <main id="main">
    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="padd-section text-center">
      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2>Recommend </h2>
          <p class="separator">Recommend other learning chanels</p>

        </div>
      </div>

      <div class="container">
        <div class="row">

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="feature-block">

              <img src="https://cdn.icon-icons.com/icons2/1603/PNG/96/video-game-play-space-invadors_108532.png" alt="img">
              <h4>Website for practicing exams</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              <a href="https://www.trueplookpanya.com/examination/all/2000">read more</a>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="feature-block">

              <img src="https://cdn.icon-icons.com/icons2/1532/PNG/96/3285297-andromeda-astronomy-cosmos-galaxy-space-spiral-universe_106791.png" alt="img">
              <h4> youtube for PRACTICING EXAMS</h4>
              <p>Video that will help teach you to understand how to do math problems..</p>
              <a href="https://www.youtube.com/channel/UCZsmsUjz0GzHZXI3ibO_4lw">read more</a>
            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="feature-block">

              <img src="https://cdn.icon-icons.com/icons2/1532/PNG/96/3285304-flag-galaxy-goal-lunar-moon-planet-space_106792.png" alt="img">
              <h4>Tutor</h4>
              <p>Introducing a special learning channel that the website owner actually studied. and has real results in solving math problems</p>
              <a href="https://www.smartmathpro.com/article/tutor-math/">read more</a>
            </div>
          </div>

        </div>
      </div>

    </section><!-- End Get Started Section --><hr>


    <!-- ======= Features Section ======= -->
    <section id="features" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
          <h2>Amazing Mathematics</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="https://cdn.icon-icons.com/icons2/2331/PNG/96/homeoffice_office_work_space_workplace_icon_142251.png" alt="img">
              <h4>creative design</h4>
              <p>In real life, mathematics is also used in designing, such as using Perspective.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="https://cdn.icon-icons.com/icons2/1381/PNG/96/kerbalspaceprogram_93898.png" alt="img">
              <h4>Retina Ready</h4>
              <p>The curvature of the retina tends to vary in degrees from person to person.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="https://cdn.icon-icons.com/icons2/2286/PNG/96/telescope_stars_moon_galaxia_space_univers_planet_icon_141231.png" alt="img">
              <h4>easy to use</h4>
              <p>Mathematics in business Mathematics is very necessary in real life.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="https://cdn.icon-icons.com/icons2/2237/PNG/96/distance_space_foot_feet_arrow_pointer_icon_134740.png" alt="img">
              <h4>App store support</h4>
              <p>In the matter of uploading data, there is mathematics that comes into play to help divide space.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="https://cdn.icon-icons.com/icons2/2454/PNG/96/orbit_space_univers_icon_148940.png" alt="img">
              <h4>Perfect Pixel</h4>
              <p>Calculating the area of ​​pixels often uses mathematics to divide the area.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="https://cdn.icon-icons.com/icons2/1369/PNG/96/-space-bar_90666.png" alt="img">
              <h4>clean codes</h4>
              <p>Calculating a good code requires the use of mathematics to increase security.</p>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Features Section -->

  <!-- Vendor JS Files -->
  <script src="Public/vendor/aos/aos.js"></script>
  <script src="Public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="Public/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="Public/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="Public/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script>
    /**
* Template Name: eStartup
* Updated: Sep 18 2023 with Bootstrap v5.3.2
* Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/
(function() {
  "use strict";

  /**
   * Easy selector helper function
   */
  const select = (el, all = false) => {
    el = el.trim()
    if (all) {
      return [...document.querySelectorAll(el)]
    } else {
      return document.querySelector(el)
    }
  }

  /**
   * Easy event listener function
   */
  const on = (type, el, listener, all = false) => {
    let selectEl = select(el, all)
    if (selectEl) {
      if (all) {
        selectEl.forEach(e => e.addEventListener(type, listener))
      } else {
        selectEl.addEventListener(type, listener)
      }
    }
  }

  /**
   * Easy on scroll event listener 
   */
  const onscroll = (el, listener) => {
    el.addEventListener('scroll', listener)
  }

  /**
   * Navbar links active state on scroll
   */
  let navbarlinks = select('#navbar .scrollto', true)
  const navbarlinksActive = () => {
    let position = window.scrollY + 200
    navbarlinks.forEach(navbarlink => {
      if (!navbarlink.hash) return
      let section = select(navbarlink.hash)
      if (!section) return
      if (position >= section.offsetTop && position <= (section.offsetTop + section.offsetHeight)) {
        navbarlink.classList.add('active')
      } else {
        navbarlink.classList.remove('active')
      }
    })
  }
  window.addEventListener('load', navbarlinksActive)
  onscroll(document, navbarlinksActive)

  /**
   * Scrolls to an element with header offset
   */
  const scrollto = (el) => {
    let header = select('#header')
    let offset = header.offsetHeight

    if (!header.classList.contains('header-scrolled')) {
      offset -= 16
    }

    let elementPos = select(el).offsetTop
    window.scrollTo({
      top: elementPos - offset,
      behavior: 'smooth'
    })
  }

  /**
   * Toggle .header-scrolled class to #header when page is scrolled
   */
  let selectHeader = select('#header')
  if (selectHeader) {
    const headerScrolled = () => {
      if (window.scrollY > 100) {
        selectHeader.classList.add('header-scrolled')
      } else {
        selectHeader.classList.remove('header-scrolled')
      }
    }
    window.addEventListener('load', headerScrolled)
    onscroll(document, headerScrolled)
  }

  /**
   * Back to top button
   */
  let backtotop = select('.back-to-top')
  if (backtotop) {
    const toggleBacktotop = () => {
      if (window.scrollY > 100) {
        backtotop.classList.add('active')
      } else {
        backtotop.classList.remove('active')
      }
    }
    window.addEventListener('load', toggleBacktotop)
    onscroll(document, toggleBacktotop)
  }

  /**
   * Mobile nav toggle
   */
  on('click', '.mobile-nav-toggle', function(e) {
    select('#navbar').classList.toggle('navbar-mobile')
    this.classList.toggle('bi-list')
    this.classList.toggle('bi-x')
  })

  /**
   * Mobile nav dropdowns activate
   */
  on('click', '.navbar .dropdown > a', function(e) {
    if (select('#navbar').classList.contains('navbar-mobile')) {
      e.preventDefault()
      this.nextElementSibling.classList.toggle('dropdown-active')
    }
  }, true)

  /**
   * Scrool with ofset on links with a class name .scrollto
   */
  on('click', '.scrollto', function(e) {
    if (select(this.hash)) {
      e.preventDefault()

      let navbar = select('#navbar')
      if (navbar.classList.contains('navbar-mobile')) {
        navbar.classList.remove('navbar-mobile')
        let navbarToggle = select('.mobile-nav-toggle')
        navbarToggle.classList.toggle('bi-list')
        navbarToggle.classList.toggle('bi-x')
      }
      scrollto(this.hash)
    }
  }, true)

  /**
   * Scroll with ofset on page load with hash links in the url
   */
  window.addEventListener('load', () => {
    if (window.location.hash) {
      if (select(window.location.hash)) {
        scrollto(window.location.hash)
      }
    }
  });

  /**
   * Clients Slider
   */
  new Swiper('.screens-slider', {
    speed: 400,
    loop: true,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false
    },
    slidesPerView: 'auto',
    pagination: {
      el: '.swiper-pagination',
      type: 'bullets',
      clickable: true
    },
    breakpoints: {
      320: {
        slidesPerView: 1,
        spaceBetween: 20
      },
      575: {
        slidesPerView: 2,
        spaceBetween: 20
      },
      640: {
        slidesPerView: 3,
        spaceBetween: 20
      },
      992: {
        slidesPerView: 4,
        spaceBetween: 20
      }
    }
  });

  /**
   * Initiate  glightbox 
   */
  const glightbox = GLightbox({
    selector: '.glightbox'
  });

  /**
   * Animation on scroll
   */
  window.addEventListener('load', () => {
    AOS.init({
      duration: 1000,
      easing: 'ease-in-out',
      once: true,
      mirror: false
    })
  });

})()
  </script>

</body>

</html>